useDynLib("midasml")

import("Matrix")
importFrom("graphics", "segments")
importFrom("stats", "approx", "coef", "glm", "nlm")
importFrom("utils", "capture.output")
importFrom("methods", "new")
importFrom("Matrix", "Diagonal")
importFrom("mcGlobaloptim", "multiStartoptim")

export(cv.sglfit, cv.panel.sglfit, ic.sglfit, ic.panel.sglfit, reg.sgl, reg.panel.sgl, sglfit, midas.ardl, lb, gb, mixed_freq_data, mixed_freq_data_single, monthBegin, monthEnd, dateMatch)


S3method("predict","sglpath")