useDynLib("midasml", .registration = TRUE)

import("Matrix")
importFrom("foreach","foreach")
importFrom("foreach","%dopar%")
importFrom("graphics", "segments")
importFrom("stats", "approx", "coef", "glm", "nlm")
importFrom("utils", "capture.output")
importFrom("methods", "new")
importFrom("Matrix", "Diagonal")
importFrom("mcGlobaloptim", "multiStartoptim")

export(tscv.sglfit)
export(cv.sglfit)
export(cv.panel.sglfit)
export(ic.sglfit) 
export(ic.panel.sglfit)
export(reg.sgl) 
export(reg.panel.sgl) 
export(sglfit)
export(midas.ardl)
export(lb)
export(gb) 
export(mixed_freq_data)
export(mixed_freq_data_single) 
export(monthBegin) 
export(monthEnd) 
export(dateMatch)


S3method("predict","sglpath")
S3method("predict","cv.sglfit")
S3method("predict","cv.panel.sglfit")
S3method("predict","ic.sglfit")
S3method("predict","ic.panel.sglfit")

