useDynLib(midasml, .registration=TRUE)
export(panel_sgl, reg_sgl, predict.panel_sgl, predict.reg_sgl, mixed_freq_data_single, mixed_freq_data, lb, gb, monthEnd, monthBegin, dateMatch, apply_transform)

S3method(predict, reg_sgl)
S3method(predict, panel_sgl)

importFrom("Rcpp","evalCpp")
importFrom("doSNOW", "registerDoSNOW")
importFrom("foreach","foreach")
importFrom("foreach","%dopar%")
importFrom("parallel", "detectCores")
importFrom("parallel", "makeCluster")
importFrom("parallel", "stopCluster")
importFrom("stats", "sd")
importFrom("utils", "setTxtProgressBar")
importFrom("utils", "txtProgressBar")
importFrom("lubridate","days")
importFrom("lubridate","ceiling_date")
importFrom("lubridate","floor_date")
importFrom("lubridate","origin")

importFrom("graphics", "plot")
importFrom("stats", "lm", "na.omit", "runif")
importFrom("optimx", "optimx")
importFrom("quantreg", "rq")


exportPattern("^[[:alpha:]]+")
